body{
    font-family: 'Lato', sans-serif;
}
.header{
    background-color: rgb(19, 67, 135);
    color: white;
    padding: 17px;
}
header{
    font-size: 35px;
    text-align: center;
}
nav{
    font-size: 16px;
    text-align: center;
}
article{
    margin-left: 4vw;
    margin-right: 4vw;
}
section{
    font-size: 18px;
    line-height: 1.4em;
    text-align: justify;
    margin-bottom: 25px;
    margin-top: 25px;
}
footer{
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
}
