@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
body{
    font-family: 'Barlow', sans-serif;
}
header{
    text-align: center;
}
.title{
    font-size: 35px;
}
nav{
    font-size: 18px;
    text-align: center;
}
footer{
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
}
.post{
    margin:12px;
    font-size: 18px;
    display: inline-grid;
    column-gap: 0px;
    grid-template-columns: 17vw 65vw;
}
.text{
    text-align: justify;
}